@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --colorPrimary: #87000e;
  --colorSecondary: #160204;
  --colorWhite: #ffffff;
  --paraColor: #5c728e;
  --paraFont: "Ubuntu", sans-serif;
  --headingFont: "Ubuntu", sans-serif;
  --boxShadow: 0px 4px 12px 0px rgba(17, 16, 19, 0.1);
  --gradiantBg: linear-gradient(
    45deg,
    #cdfff1 0%,
    rgba(203, 245, 246, 0.73) 28.13%,
    rgba(240, 251, 224, 0.8) 79.75%,
    #f8ffda 100%
  );
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--paraFont);
  color: var(--paraColor);
}

p, span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--paraColor);
  font-family: var(--paraFont);
}
p {
  margin-bottom: 16px;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
  color: var(--colorSecondary);
  font-size: clamp(24px, 5vw + 1rem, 48px);
}
h2, div.title-2 {
  font-size: clamp(20px, 5vw + 1rem, 38px);
  color: var(--colorSecondary);
  margin: 32px 0 16px;
  font-weight: 700;
}
div.title-2{
  margin: 0 0 48px;
}
h3 {
  font-size: clamp(18px, 5vw + 1rem, 32px);
  color: var(--colorSecondary);
  margin: 28px 0 16px;
}
h4 {
  font-size: clamp(16px, 5vw + 1rem, 28px);
  color: var(--colorSecondary);
  margin: 20px 0 8px;
}

.top_title{
  font-size: 15px;
  font-weight: 600;
  color: var(--colorPrimary);
  text-transform: uppercase;
  margin-bottom: 2px;
}

img {
  object-fit: cover;
}

input[type="checkbox"] {
  cursor: pointer;
}

.play_btn {
  display: inline-flex;
  align-items: center;
}
.play_btn i {
  font-size: 20px;
}

.tf__common_heading {
  text-align: center;
}

.tf__common_heading_color {
  color: var(--colorSecondary);
  margin-bottom: 64px;
}

.tf__topbar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: var(--colorSecondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.tf__topbar p {
  font-size: 12px;
  font-weight: 500;
  color: var(--colorWhite);
  text-align: center;
}

.tf__topbar p a {
  color: var(--colorPrimary);
  text-transform: capitalize;
}

.tf__main_menu {
  padding: 8px 28px;
  background: transparent;
  width: 100%;
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 999;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.login .tf__main_menu {
  top: 0;
}

.tf__main_menu .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: var(--colorPrimary);
  font-weight: 700;
  font-family: var(--headingFont);
  line-height: 1;
  display: flex;
  align-items: center;
}
.tf__main_menu .navbar-brand .box-logo-text {
  padding-left: 0;
  transition: all linear 0.2s;
}
.tf__main_menu.menu_fix .navbar-brand .box-logo-text {
  padding-left: 8px;
  color: #c29c26;
}
.tf__main_menu .navbar-brand .box-logo-img {
  width: 0;
  overflow: hidden;
  transition: all linear 0.2s;
}
.tf__main_menu.menu_fix .navbar-brand .box-logo-img {
  width: 40px;
}

.tf__main_menu .navbar-nav .menu-item {
  position: relative;
  padding: 0px 24px;
}

.tf__main_menu .navbar-nav .menu-item > a {
  font-size: 14px;
  font-family: var(--paraFont);
  font-weight: 500;
  color: var(--colorBlack);
  text-transform: capitalize;
  transition: all linear 0.3s;
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 70px;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.tf__main_menu .navbar-nav .menu-item:hover > a {
  color: var(--colorSecondary);
}

.tf__main_menu .collapse .navbar-nav .menu-item a i {
  font-size: 12px;
}

.sub-menu {
  position: absolute;
  width: 230px;
  top: 115%;
  left: 0;
  background: var(--colorWhite);
  max-height: 450px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 14px;
  padding-left: 0;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.sub-menu::-webkit-scrollbar {
  background: #fff;
  width: 5px;
}

.sub-menu::-webkit-scrollbar-thumb {
  background: #ddd;
}

.sub-menu li {
  margin-left: 0;
  line-height: 30px;
}

.sub-menu li a {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: var(--colorBlack);
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  border-bottom: 1px solid #eeeeeea6;
  padding: 7px 20px;
  border-left: 1px solid transparent;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.sub-menu li a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: var(--colorPrimary);
  border-radius: 50px;
  left: 10px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.sub-menu li a:hover,
.sub-menu li a.active {
  color: var(--colorPrimary);
  padding-left: 30px;
}
.sub-menu li a:hover::before,
.sub-menu li a.active::before {
  visibility: visible;
  opacity: 1;
}

.sub-menu li:last-child a {
  border-bottom: 0;
}

.tf__main_menu .menu-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: max-content;
}

.tf__menu_btn li a {
  font-size: 15px;
  font-weight: 600;
  font-family: var(--paraFont);
  padding: 5px 12px;
  border-radius: 6px;
  color: var(--paraColor);
  border: 1px solid var(--stroke-hints, rgba(17, 16, 19, 0.1));
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.tf__menu_btn li a:hover {
  background: var(--colorSecondary);
  color: var(--colorWhite) !important;
}

.tf__menu_2nd_btn {
  background: var(--colorSecondary);
  color: var(--colorWhite) !important;
  margin-left: 10px;
}

.tf__menu_2nd_btn:hover {
  color: var(--paraColor) !important;
  background: none !important;
}

.tf__menu_2nd_btn:hover {
  background: var(--colorPrimary) !important;
  color: var(--colorSecondary);
}

.menu_fix {
  background: var(--colorWhite);
  top: 0;
}

.tf__signup_check_area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  position: relative;
}

.tf__signup_check_area input {
  margin: 0;
  padding: 0;
  width: 17px;
  height: 17px;
  border-radius: 5px !important;
  margin-right: 10px;
  border: 1px solid #dce3ed;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.tf__signup_check_area .form-check-input:checked {
  background-color: var(--colorPrimary);
  border-color: var(--colorPrimary);
}

.tf__signup_check_area .form-check-input:focus {
  border-color: var(--colorPrimary);
  box-shadow: none;
}

.tf__signup_check_area label {
  font-size: 16px;
  font-weight: 400;
  color: var(--colorBlack);
  position: absolute;
  top: 0;
  left: 30px;
}

.tf__copyright p {
  font-size: 14px;
  font-weight: 500;
  color: var(--colorSecondary);
}

.tf__copyright .copyright_link {
  color: var(--colorPrimary);
}

.tf__copyright ul li a {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--paraFont);
  color: var(--colorSecondary);
  text-transform: capitalize;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  margin-left: 25px;
}

.tf__copyright ul li a:hover {
  color: var(--colorPrimary);
}

.tf__about {
  background: #eff7fb;
}

.tf__free_iteam_img {
  width: 518px;
  height: 450px;
}

.tf__contact_area {
  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgba(17, 16, 19, 0.1);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tf__contact_area span {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  color: var(--colorWhite);
  background: var(--colorPrimary);
  margin-right: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.tf__contact_area:hover {
  background: var(--colorPrimary);
}

.tf__contact_area:hover span {
  background: var(--colorWhite);
  color: var(--colorPrimary);
}

.tf__contact_icon_text p {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--headingFont);
  color: var(--colorSecondary);
  letter-spacing: -1px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.tf__contact_icon_text a {
  font-size: 18px;
  display: block;
  font-weight: 500;
  font-family: var(--headingFont);
  color: rgba(17, 16, 19, 0.6);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.tf__contact_area:hover .tf__contact_icon_text a,
.tf__contact_area:hover .tf__contact_icon_text p {
  color: var(--colorWhite);
}

.tf__contact_icon li a {
  width: 32px;
  height: 32px;
  margin-right: 25px;
}

.tf__contact_form {
  background: #f8f6f9;
}

.tf__contact_form_input input,
.tf__contact_form_input textarea {
  background: var(--colorWhite);
}

.tf__contact_form_input label {
  color: #04050642;
}

.preloader_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eff7fb;
  position: fixed;
  z-index: 9999;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid var(--colorSecondary);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 0.7s linear infinite;
}
@keyframes spinner {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}

.error-404 {
  padding: 180px 0 256px;
}
.error-404 img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.error-404 p{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 32px;
}
.form-block-text p{
  margin-top: 16px;
}

.service__content{
  margin-top: 64px;
}
.service__content li{
  margin: 8px 0;
}
.service__content h2, .service__content h3, .service__content h4, .service__content h5, .service__content h6,.service__content p{ 
  margin: 16px 0;
}
.tags_title{
  font-weight: 700;
  margin-right: 16px;
}
.navbar-brand img{
  max-width: 80px;
}
.contact-list li{
  margin-bottom: 8px;
}
.contact-list a{
  color: var(--colorSecondary);
}
.contact-list a:hover{
  color: var(--colorPrimary);
}
.social-list{
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.social-list img{
  width: 40px;
}
.page-contac-address{
  margin: 28px 0 64px;
}
.page-contact-list{
  padding: 16px 40px 8px;
  border-radius: 10px;
  border: 1px solid rgba(17, 16, 19, 0.1);
  display: flex;
  flex-direction:column;
  justify-content: center;
  max-width: 526px;
  margin-left: 12px;
}
.page-contact-list li{
  margin-bottom: 16px;
}
.page-contact-list li:last-child{
  margin: 0;
}
.page-contact-list .social-list img{
  width: 48px;
}
.page-contact-list__title{
  font-weight: 700;
}
.page-contact-img{
  display: flex;
  justify-content: center;
}
.contact-block{
  margin-bottom: 16px;
}
.margin-page{
  padding: 128px 0;
}

.accordion-item div.accordion-header{
  color: var(--colorSecondary);
  font-family: var(--headingFont);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.pk-message{
  margin-top: 8px;
  opacity: 0.5;
}
.box-phone a.phone{
  color: var(--colorSecondary);
}
.box-phone a.phone:hover{
  color: var(--colorPrimary);
}
.img-fluid{
  height: inherit;
  max-width: fit-content;
}
.content-pk{
  margin: 128px auto 256px;
  max-width: 800px;
}

.footer__box-form{
  background-color: var(--colorSecondary);
  max-width: 1200px;
  margin: -128px auto 48px;
  border-radius: 50px;
  padding: 64px 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px
}
.footer__box-form-title{
  font-size: clamp(16px, 5vw + 1rem, 32px);
  font-weight: 700;
  color: var(--colorWhite);
  margin-bottom: 16px;
}
.footer__box-form-left{
  padding-top: 32px;
}
.footer__box-form-left p{
  max-width: 320px;
}

.footer__form label, .footer__form input{
  display: block;
  margin-bottom: 8px;
}
.footer__form input{
  margin-bottom: 16px;
  width: 320px;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 10px;
}
.footer__form input.footer__form-btn{
  background-color: var(--colorPrimary);
  border: solid 2px var(--colorPrimary);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__form input.footer__form-btn:hover{
  background-color: transparent;
}
.footer__box-form-mess{
  max-width: 320px;
  opacity: 0.6;
  font-size: 14px;
}

@media (max-width: 1400px) {
  .page-contac-address{
    flex-wrap: nowrap;
  }
  .page-contact-list{
    max-width:452px;
  }
}

@media (max-width: 990px) {
  nav.navbar-collapse{
    position: absolute;
    right: 0px;
    top: 76px;
    width: 280px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }
  .navbar-brand img {
    max-width: 58px;
  }
  .tf__main_menu .navbar-brand {
    font-size: 20px;
  }
  .tf__main_menu.menu_fix .navbar-brand .box-logo-text {
    padding-left: 4px;
  }
  .tf__main_menu.menu_fix .navbar-brand .box-logo-img{
    width: 29px;
  }
  .tf__main_menu .navbar-brand {
    width: 102px;
  }
  .tf__main_menu .container-fluid{
    justify-content: end;
  }
  .box-phone{
    margin-left: auto;
    margin-right: 32px;
  }
  .margin-page{
    padding: 80px 0;
  }
}
@media (max-width: 800px){
  .footer__box-form{
    display: block;
    max-width: 512px;
  }
  .footer__box-form-left{
    padding: 0;
    margin-bottom: 32px;
  }
}
@media (max-width: 766px) {
  .form-block-text{
    margin-bottom: 32px;
  }

  .contact-block{
    margin-bottom:0;
  }
  .page-contac-address{
    margin:0;
  }
  .page-contact-list{
    max-width: 516px;
    margin-left:0;
    margin-bottom:32px;
  }
  .page-contact-img{
  order: 2;
  }
}
@media (max-width: 500px){
  .footer__form input{
    width: 100%;
  }
}
