.blog{
    background: #eff7fb;
}
.blog__header, .blog-post__header{
    padding: 165px 0 128px;
    text-align: center;
}
.blog__posts-list{
    margin: 128px 0 280px;   
}
.blog__posts-list-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
}
.blog__posts-item:hover .blog__posts-item-img img{
    transform: scale(1.1);
}
.blog__posts-item-img{
    border-radius: 20px;
    overflow: hidden;
}
.blog__posts-item-img img{
    width: 100%;
    border-radius: 20px;
    transition: all linear 0.3s;
}
.blog__posts-item-text{
    padding: 16px 0 32px;
}
.blog__posts-item-text a{
    display: block;
    margin-top: 16px;
    color: var(--colorSecondary);
    font-weight: 600;
    font-size: 16px;
}
.blog__posts-item-text a:hover{
    color: var(--colorPrimary);
}

.blog__posts-author{
    display: flex;
}
.blog__posts-author li:first-child{
    margin-right: 16px;
}
.blog-content{
    margin-bottom: 280px;
}
.blog-content__box-thumbnail img {
    width: 100%;
}
.blog-content__cont{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 32px;
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto;
}
.blog-content__left-back{
    margin-bottom: 32px;
}
.blog-content__right{
    position: relative;
    padding: 64px 32px;
    border-radius: 10px;
    background: #f8f6f9;
    align-self: start;
}
.blog-content__info{
    display: flex;
    gap: 32px;
    margin: 16px 0;
    border-bottom: 1px solid rgba(17, 16, 19, 0.2);
    padding-bottom: 8px;
}
.blog-content__info li p{
    color: var(--colorSecondary);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}
.blog-content__richtext img{
    width: 100%;
    height: auto;
}
.new-post__header{
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 700;
}
.new-post__item{
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.new-post__item-img{
    border-radius: 50%;
    overflow: hidden;
    width: 64px;
    height: 64px;
}
.new-post__item-img img{
    width: 64px;
    height: 64px;
}
.new-post__item-info{
    display: flex;
    font-size: 12px;
    gap: 10px;
    margin-bottom: 8px;
    color: var(--colorSecondary);
    font-weight: 500;
}
.new-post__item-info li:last-child{
    display: flex;
    gap: 8px;
    align-items: center;
}
.new-post__item-info li:last-child::before{
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--colorPrimary);
}
.new-post__item-link{
    color: var(--colorSecondary);
    font-weight: 600;
    font-size: 16px;
}
.new-post__item-link:hover{
    color: var(--colorPrimary);
}
@media (max-width: 1100px){
    .blog-content__cont{
        grid-template-columns: 3fr 2fr;
    }
}
@media (max-width: 1000px) {
    .blog__posts_list_cont{
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-post__cont{
        display: block;
    }
    .blog-content__cont{
        grid-template-columns: 1fr;
    }
    .new-post__item{
        grid-template-columns: 1fr;
    }
    .new-post__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
    .new-post__item-img{
        margin-bottom: 16px;
    }
    .new-post__item-img{
        width: 80px;
        height: 80px;
    }
    .new-post__item-img img{
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 700px){
    .new-post__list{
        grid-template-columns: repeat(2, 1fr);
    }
    .new-post__item:last-child{
        display: none;
    }
}
@media (max-width: 600px) {
    .blog__posts_list_cont{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 560px) {
    .new-post__list{
        grid-template-columns: 1fr;
    }
    .new-post__item:last-child{
        display: grid;
    }
}