{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load list_services %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/services_style.css' %}">
{% endblock extra_css %}

{% block content %}

<section class="services__header">
    <div class="top_title">Чем мы можем помочь вам?</div>
    <h1>{{ page.tag_h1 }}</h1>
</section>

<section class="services__list-block">
    <ul class="services__list">
    {% list_services as services%}
    {% for service in services %}
        <li class="services__item">
            <div class="services__item-img-box">
                {% image service.img_template original as image %}
                <img
                src="{{ image.url }}"
                alt="Изображение услуги {{ service.title }}"
                class="item-service__img" >
                
            </div>
            <div class="services__item-text-box">
                <a href="{{ service.url }}">
                    <div class="services__item-title">{{ service.title }}</div>
                </a>
                <p>{{ service.anatation }}</p>
                <a href="{{ service.url }}" class="item-service__link">Подробнее >>></a>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>

<section class="services__seo-content">
    <div class="services__seo-content-box">
        {{ page.seo_text|richtext }}
    </div>
</section>

{% endblock content %}
