{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/services_style.css' %}">
{% endblock extra_css %}

{% block content %}

<div itemscope itemtype="https://schema.org/Service">
<section class="page-service__header">
    <div class="page-service__header-box">
        <div class="page-service__header-left">
            <div class="top_title">Наша услуга</div>
            <h1 itemprop="serviceType">{{ page.tag_h1 }}</h1>
            <p>{{ page.anatation }}</p>
            <button id="btn-popup" class="page-service__header-btn">{{ page.text_btn}}</button>
        </div>
        <div class="page-service__header-right">
            {% image page.img_template original as image %}
            <img
            src="{{ image.url }}"
            alt="Изображение услуги {{ page.tag_h1 }}">
        </div>
    </div>
</section>
<section class="work_process">
    <div class="work_process__header">
        <div class="top_title">ЭТАПЫ</div>
        <div class="title-2 tf__common_heading_color">Как мы будем работать</div>
    </div>
    <div class="work_process__content-box">
        <div class="work_process__content-left">
            {% image page.img_steps_work original as image %}
            <img
            src="{{ image.url }}"
            alt="Изображение процесса работы по шагам"
            class="w-100" >
        </div>
        <ul class="work_process__content-right">
            {% for step in page.steps_works %}
            <li class="work_process__item">
                <div class="work_process__item-title">
                    <span class="work_process__item-title-num">{{ forloop.counter }}</span>
                    {% include_block step.value.title %}
                </div>
                <p class="work_process__item-description">
                    {% include_block step.value.description %}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<section class="page-service__pricing">
    <div class="page-service__pricing-heading">
        <div class="top_title">pricing</div>
        <div class="title-2">Цены на услуги</div>
    </div>
    <ul class="page-service__pricing-list">
        {% for price in page.price_list %}
        <li class="page-service__pricing-item">
            <h3>{% include_block price.value.title %}</h3>
            {% include_block price.value.description|richtext %}
            <p class="tf__single_pricing__price">от <span>{% include_block price.value.price %} руб.</span></p>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="page-service__content">
    <div class="page-service__content-box" itemprop="description">
        {{ page.seo_text|richtext }}
    </div>
</section>
<section class="service-faq">
    <div class="service-faq__heading">
        <div class="top_title">faq</div>
        <div class="title-2 tf__common_heading_color">
        Вопросы и ответы по услуге
        </div>
    </div>
    <div class="service-faq__content-box">
        {% for faq in page.faq %}
        <details class="service-faq__item">
            <summary><h3>{% include_block faq.value.question %}</h3><div class="service-faq__item-open"></div></summary>
            <div class="service-faq__item-content">
                {% include_block faq.value.answer|richtext %}
            </div>
        </details>
        {% endfor %}
    </div>
</section>
</div>
<dialog id="service__popup" class="service__popup">
    <div class="service__popup-close-block">
    <button id="service__popup-close" class="service__popup-btn"><i class="far fa-times close_icon_close"></i></button>
    </div>
    <div class="service__popup-title">{{ page.text_btn }}</div>
    <?php echo do_shortcode( '[contact-form-7 id="55159f6" title="Форма обратной связи"]' ) ?>
</dialog>
{% endblock content %}