h1{
    text-align: center;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(17, 16, 19, 0.1);
    margin-bottom: 32px;
    font-size: 48px;
}
.settings-menu__cont{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 128px;
    max-width: 1000px;
    margin: 0 auto;
}
.settings-menu__list-root{
    list-style: none;
    padding: 32px 16px;
    border: 1px solid rgba(17, 16, 19, 0.1);
}
.settings-menu__item-cont{
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: rgba(49, 48, 51, 0.1);
    border-radius: 10px;
    margin-bottom: 4px;
}
.settings-menu__item-btn{
    padding: 4px 6px 2px;
}
.settings-menu__sub-list{
    padding-left: 24px;
}
.settings-menu__menu-list{
    list-style: none;
    padding: 32px 16px;
    border: 1px solid rgba(17, 16, 19, 0.1);
}

.dialog-list-page__list{
    list-style: none;
    padding-left: 16px;
}
.dialog-list-page__item{
    margin-bottom: 16px;
}
.dialog-list-page__item summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dialog-list-page__item label{
    display: flex;
    align-items: center;
}
details:not([open]):first-child .dialog-list-page__btn-open::after{
    content: "+";
}
details[open] .dialog-list-page__btn-open::after{
    content: "-";
}