{% extends "base.html" %}
{% load static %}
{% load posts_list %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_style.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="blog">
    <div class="blog__header">
        <div class="top_title">СТАТЬИ</div>
        <h1>{{ page.tag_h1 }}</h1>
    </div>
</section>

<section class="blog__posts-list">
    <ul class="blog__posts-list-cont">
    {% get_posts_list as posts %}
        {% for post in posts %}
        <li class="blog__posts-item">
            <div class="blog__posts-item-img">
                <a href="{{ post.url }}">
                {% image post.img_post original as image %}
                <img
                    src="{{ image.url }}"
                    alt="Изображение для статьи {{ post.title }}" >
                </a>
            </div>
            <div class="blog__posts-item-text">
                <ul class="blog__posts-author">
                    <li>{{ post.date_published|date:"d M Y" }}</li>
                    <li>Рыжиков Роман</li>
                </ul>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock content %}