{% extends "base.html" %}
{% load static %}
{% load posts_list %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_style.css' %}">
{% endblock extra_css %}

{% block content %}
<div itemscope itemtype="https://schema.org/BlogPosting">
<section>
    <div class="blog-post__header">
        <div class="top_title" >НАШ БЛОГ</div>
        <h1 itemprop="headline">{{ page.tag_h1 }}</h1>
    </div>
</section>
<section class="blog-content">
    <div class="blog-content__cont">
        <div class="blog-content__left">
            <div class="blog-content__left-back">
                <a href="{{ page.get_parent.url }}"><<< Назад к списку статей</a>
            </div>
            <div class="blog-content__box-thumbnail">

                {% image page.img_post original as image %}
                <img
                src="{{ image.url }}"
                alt="Изображение для статьи {{ page.tag_h1 }}"
                class="" >
            </div>
            <ul class="blog-content__info">
                <li>
                    <p>Автор</p>
                    <span itemprop="author">Рыжиков Роман</span>
                </li>
                <li>
                    <p>Дата публикации</p>
                    <span itemprop="datePublished" datetime="{{ page.date_published|date:"Y-m-d" }}">{{ page.date_published|date:"d F Y" }}</span>
                </li>
            </ul>
            <div class="blog-content__richtext">
                {{ page.text_post|richtext }}
            </div>
        </div>
        <div class="blog-content__right">
            <div class="new-post__header">Свежие посты</div>
            <div class="new-post__list">
            {% get_posts_list 3 as posts %}
            {% for post in posts %}
            <div class="new-post__item">
                <div class="new-post__item-img">
                    {% image post.img_post width-165 as image %}
                    <img
                    src="{{ image.url }}"
                    alt="Изображение для статьи {{ post.title }}">
                </div>
                <div class="new-post__item-title">
                    <ul class="new-post__item-info">
                        <li>{{ page.date_published|date:"d/m/Y" }}</li>
                        <li>Рыжиков Роман</li>
                    </ul>
                    <a href="{{ post.url }}" class="new-post__item-link">{{ post.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div> 
</section>
</div>
{% endblock content %}