{% extends "base.html" %}
{% load static %}
{% load posts_list %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_style.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="blog-post" itemscope itemtype="https://schema.org/BlogPosting">
    <div class="blog-post__header">
        <div class="top_title" >НАШ БЛОГ</div>
        <h1 itemprop="headline">{{ page.tag_h1 }}</h1>
    </div>
    <div class="blog-post__cont">
        <div class="tf__blog_details_left">
            <div class="tf__blog_details_left_back">
                <a href="/blog/"><<< Назад к списку статей</a>
            </div>
            <div class="tf__blog_details_left_img">
                {% image page.img_post original as image %}
                <img
                src="{{ image.url }}"
                alt="Изображение для статьи {{ page.tag_h1 }}"
                class="img-fluid w-100" >
            </div>
            <div class="tf__blog_details_author d-flex flex-wrap">
                <ul class="d-flex flex-wrap">
                    <li>
                        <p>Автор</p>
                        <span itemprop="author">Рыжиков Роман</span>
                    </li>
                    <li>
                        <p>Дата публикации</p>
                        <span itemprop="datePublished" datetime="<?php echo get_the_date('c'); ?>"><?php the_time('d F Y'); ?></span>
                    </li>
                </ul>
            </div>
            {{ page.text_post|richtext }}
        </div>
        <div class="tf__blog_details_right">
            <div>Свежие посты</div>
            <?php
                query_posts(array(
                    'post_type' => array('blog'),
                    'posts_per_page' => 4,
                    'paged' => $paged,
                ));
    
                if (have_posts()) {
                while (have_posts()) : the_post();
                ?>
    
                    <div class="tf__popular_post">
                    <div class="tf__popular_post_img">
                        <img
                        src="<?php the_post_thumbnail_url(); ?>"
                        alt="Изображение для статьи <?php the_title(); ?>"
                        class="img-fluid w-100" >
                    </div>
                    <div class="tf__popular_post_text">
                        <ul class="d-flex flex-wrap">
                        <li><?php the_time('d F Y'); ?></li>
                        <li>. Рыжиков Роман</li>
                        </ul>
                        <a href="<?php the_permalink( ) ?>"><?php the_title() ?></a>
                    </div>
                    </div>
                <?php
                endwhile;
    
                wp_reset_postdata();
            } else {
                echo 'Нет записей';
            }
                ?>
        </div>
    </div>
</section>
{% endblock content %}